<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Assignment2</title>
    <h2>특별한 조건 검색</h2>
</head>
<body>
    <form action="/search/a">
        <label>A</label><br>
        <button type="submit">selectA</button> 

    </form><br>

    <form action="/search/b" method="POST">
        <label>B</label><br>
        
        <button type="submit">selectB</button> 

        
    </form><br>
    <form action="/search/c" method="POST">
        <label>C</label><br>
        
        <button type="submit">selectB</button> 

        
    </form><br>

</body>
</html>